SECRET_KEY=
DEBUG=True
IS_DEVEL=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

BREVO_SMTP_LOGIN=
BREVO_SMTP_KEY=
DEFAULT_FROM_EMAIL=

GMAIL_USER=
GMAIL_APP_PASSWORD=
GMAIL_HOST=smtp.gmail.com
GMAIL_PORT=587
GMAIL_USE_TLS=True